/*
a. NAME: SARJITH RAO GONA
b. EMAIL:SARJITHRAO_GONA@STUDENT.UML.EDU */
    
    h1
{
    text-align:center;
}

 body
{
    background-color:skyblue;
}
img
{
float:left;
max-width:100%;
height:auto;
padding-right:20px;


}